<div class="conntent-wrapper container-fluid" layout:decorator="layout" layout:fragment="content">
    <script type="text/javascript">
        acivateMenu(".studies");
    </script>
    <h2>List of scheduled procedures for patients </h2>
    <div class="row">
        <h5>
            <span>Current Studies : </span>
            <span th:text="${data.totalElements}"></span>
        </h5>
    </div>
    <div style="overflow-x:scroll;">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td>Patient Name</td>
                <td>Description</td>
                <td>Doctor Name</td>
                <td>Room</td>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Status</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${data.content}">
                <td th:text="${row.patientEntity.name}">name</td>
                <td th:text="${row.description}">description</td>
                <td th:text="${row.doctorEntity.name}">name</td>
                <td th:text="${row.roomEntity.name}">name</td>
                <td th:text="${row.startTime}"> Start Time</td>
                <td th:text="${row.endTime}"> End Time</td>
                <td>
                    <input class="status" type="hidden" th:value="*{row.status}"/>
                    <input class="id" type="hidden" th:value="*{row.id}"/>
                    <input type="radio" class="PLANNED" th:name="${row.id}+'status'" value="PLANNED" th:checked="${row.status.name() == 'PLANNED'}"/>Planned
                    <input type="radio" class="FINISHED" th:name="${row.id}+'status'" value="FINISHED" th:checked="${row.status.name() == 'FINISHED'}"/>FINISHED
                    <input type="radio" class="IN_PROGRESS" th:name="${row.id}+'status'" value="IN_PROGRESS" th:checked="${row.status.name() == 'IN_PROGRESS'}"/>IN_PROGRESS
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- pagination -->
    <div th:replace="fragments/pagination :: pager(page=${filter.page+1}, pageSize=${filter.size}, count=${data.totalElements})"></div>
    <!-- pagination -->
    <script type="text/javascript">
        $(document).ready(function () {
            var request;
            var $radio = $('input[type=radio]');
            $radio.change(function () {
                console.log(this.value);
                var id=$(this).siblings(".id").val();
                var obj = new Object();
                obj.status = this.value;
                obj.id  = id;
                var json=JSON.stringify(obj);
                request = $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: "/study/change-status",
                    type: "post",
                    data: json,
                    dataType: 'json'
                });
            });
        })
    </script>
</div>
